body {
    margin: 0;
    line-height: normal;
  }
  
  .popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-arial: Arial;
    --font-pt-sans: "PT Sans";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-3xl-8: 22.8px;
    --font-size-mini-3: 14.3px;
    --font-size-xs-4: 11.4px;
    --font-size-mid-1: 17.1px;
    --font-size-15xl-2: 34.2px;
    --font-size-base: 16px;
    --font-size-17xl: 36px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-lg: 18px;
    --font-size-mid-9: 17.9px;
    --font-size-29xl: 48px;
    --font-size-13xl: 32px;
    --font-size-3xl: 22px;
    --font-size-6xl-7: 25.7px;
    --font-size-19xl-5: 38.5px;
    --font-size-37xl: 56px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --color-darkgray-100: #b0b0b0;
    --color-darkgray-200: #9d9d9d;
    --color-midnightblue-100: #0e1b60;
    --white: #fff;
    --color-silver-100: #c8c8c8;
    --color-silver-200: #c2c2c2;
    --color-black: #000;
    --color-mediumslateblue-100: #8d71ff;
    --blue-100: #dbeafe;
    --color-gray-100: #928989;
    --color-gray-200: #818181;
    --gray-800: #1f2937;
    --color-gray-300: #252525;
    --gray-900: #111827;
    --color-gray-400: rgba(0, 0, 0, 0.5);
    --gray-300: #d1d5db;
    --gray-500: #6b7280;
    --gray-200: #e5e7eb;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --color-whitesmoke-100: #f0f0f0;
    --red-100: #fee2e2;
    --red-300: #fca5a5;
    --red-800: #991b1b;
    --pink-100: #fce7f3;
    --pink-300: #f9a8d4;
    --pink-800: #9d174d;
    --green-100: #d1fae5;
    --green-300: #6ee7b7;
    --green-800: #065f46;
    --color-lightskyblue-100: #8bd5ff;
    --blue-300: #93c5fd;
    --blue-800: #1e40af;
    --blue-50: #eff6ff;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --gray-700: #374151;
    --color-dimgray: #575757;
    --color-blueviolet-100: #7949ff;
    --color-blueviolet-200: #4d49ff;
    --color-cornflowerblue: #1e88e5;
  
    /* Gaps */
    --gap-3xs: 10px;
    --gap-8xl: 27px;
    --gap-mini: 15px;
  
    /* Paddings */
    --padding-xs-5: 11.5px;
    --padding-base-6: 16.6px;
    --padding-xl: 20px;
    --padding-10xl-1: 29.1px;
    --padding-mini-6: 14.6px;
    --padding-10xs-6: 2.6px;
    --padding-smi-8: 12.8px;
    --padding-2xl-7: 21.7px;
    --padding-44xl: 63px;
    --padding-5xl: 24px;
  
    /* Border radiuses */
    --br-3xs: 10px;
    --br-3xl-8: 22.8px;
    --br-5xs-7: 7.7px;
    --br-7xs-1: 5.1px;
    --br-8xs: 5px;
    --br-5xs: 8px;
    --br-xl: 20px;
  }
  